* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none ;
}

body {
    background-color: #080202;
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
}


.navbar {
    position:absolute;
    top: 20px;
    left: 0;
    right: 0;
    display:flex;
    justify-content: center;
}

.menu-1 {
    margin-right: 200px;

}

.menu-2 {
    margin-left: 100px;
    display: flex;
    align-items:center;
}

.logo-1 {

    width: 130px;
    height: 140px;
    padding-right:25px;

}

.socials {
    display: flex;
    padding-top: 30px
}

.social {
    margin: -50px 20px;
    height: 40px;
    width: 40px;
    border: 1px solid #db241b;
    border-radius: 50%;
}

.social:hover {
    background-color: #db241b;
}

.social img {
    margin: 8px 0 0 8px;
}

.menu .navbar ul li {
    /*permite que la lista se acomoden en fila*/
    float: left;
}

.menu .navbar ul li a { 
    font-size: 20px;
    padding: 20px;
    color: #FFFFFF;
    display: block;
}

.menu .navbar ul li a:hover {
    background-color: #db241b;
}

/* heade */
.main-content {
    margin-top: 180px;
}

/* Pone en fila cada punto */
.box {
    display: flex;
    align-items:center;
}

.box-txt {
    margin-left: 85px;
    width: 50%;
}

.box-txt h1 {
    font-size: 60px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.box-txt p {
    font-size: 18px;
    color: #A7A7A7;
}

.box-img img {
    margin-right: 225px;
    width: 500px;
}


.horario{
    
    background-color: #0d0d0d0d;

}

.horario-info h2{
    font-size: 75px;
    color: #FFFFFF;
    font-weight:800 ;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.horario-txt{
    display: flex;
}

.txt{
    color: #FFFFFF;
    padding: 50px;
    margin: 10px;
}

.txt h4{
    font-size: 18px;
    color: #f69696;
    margin-bottom: 30px;
}

.txt p{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 15px;
}


/* footer */
.footer {
    padding: 0px 1px;
    display: flex;
    justify-content: space-between;
}

.links h4{
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 70px;

}

.logo-2 {
    padding-top: 70px;
    width: 300px;
    height: 500px;

}

.links ul li a{
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
}

.map{
    filter: grayscale(100%) invert(92%) contrast(93%) ; 
}
