/* Estilos generales */
* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #080202;
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* Estilos para la navegación */
/*
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d0d0d;
    padding: 10px;
}

.menu {
    list-style-type: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.menu li a:hover {
    color: #db241b;
}

.logo {
    width: 150px;
}

.socials {
    display: flex;
}

.socials a img {
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
}
*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #080202;
}

.menu-1 ul {
    display: flex;
}

.menu-1 ul li {
    margin-right: 20px;
}

.menu-1 ul li a {
    font-size: 18px;
    color: #FFFFFF;
    padding: 10px 15px;
    text-transform: uppercase;
}

.menu-1 ul li a:hover {
    background-color: #db241b;
    border-radius: 5px;
}

.logo-1 {
    width: 130px;
    height: auto;
}

.menu-2 .socials {
    display: flex;
    align-items: center;
}

.social {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid #db241b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social img {
    width: 24px;
    height: 24px;
}

.social:hover {
    background-color: #db241b;
}

/* Estilos de la galería */
.gallery {
    margin-top: 40px;
}

.gallery-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.gallery-item.reverse {
    flex-direction: row-reverse;
}

.gallery-item img {
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-text {
    width: 50%;
    padding: 20px;
    text-align: center;
}

.gallery-text p {
    margin-top: 10px;
    font-size: 16px;
}

/* Footer */
footer {
    background-color: #0d0d0d;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.logo-footer {
    width: 150px;
    height: 200px;
}

.footer-info, .social-links {
    display: flex;
    flex-direction: column;
}

.footer-info .info-block {
    margin-bottom: 10px;
}

.footer-info h4, .social-links a {
    color: #db241b;
}

.footer-info p {
    color: #fff;
}

/* Responsividad para móviles */
@media (max-width: 768px) {
    .gallery-item {
        flex-direction: column;
    }

    .gallery-item img {
        width: 100%;
    }

    .gallery-text {
        width: 100%;
    }
}
